@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    margin-top: -15%;
    width: 3000%;
    height: 50pt;
    filter: url(#threshold) blur(0.6px);
}
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 40pt;
    text-align: center;
    user-select: none;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url('https://i.pinimg.com/564x/45/f0/64/45f0645eb097c1ee4b929c555859e138.jpg') bottom;
    background-size: cover;
    background-attachment: fixed;
  }
  #Header{
    margin-top: 3%;
    padding: 0;
    width: 100%;
    height: 200px;
    border-bottom: 4px dashed black;
}
#Header li{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Header li img{
    background: url('SternaLogo.png') no-repeat center;
    background-size: cover;
    margin-top: 3%;
}
#Main{
    margin-top: 10%;
    width: 99.5%;
}
#Main button{
    margin-bottom: 5%;
}
#Main {
    display: list-item;
    text-align: center;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  width: 90%;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  padding: 0;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-all;
  text-overflow:clip;
  font-style: italic;
}
.button-74:hover {
  background-color: #fff;
}
.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
#cena{
  float: right;
  margin-right: 3%;
}
#produkt{
  float: left;
  margin-left: 3%;
}
#Main button img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: 2px outset black;
  margin-bottom: -10%;
}
#Main #gazirani{
  text-align: center;
}
#Main #gazirani h2:first-of-type{
  margin-bottom: 5%;
  width: 100%;
  text-decoration: underline;
  font-size: 2rem;
}
#Main #negazirani h2:last-of-type{
  margin-bottom: 5%;
  width: 100%;
  text-decoration: underline;
  font-size: 2rem;
}