@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    margin-top: 10%;
    width: 3000%;
    height: 50pt;
    filter: url(#threshold) blur(0.6px);
}
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 40pt;
    text-align: center;
    user-select: none;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    background: url('304982127_3337989026431134_5261267611287593859_n.jpg') center no-repeat;
    /* background-size: 150% 100%; */
    background-size: cover;
    background-attachment: fixed;
  }
  #Header{
    margin-top: 2%;
    padding: 0;
    width: 100%;
    height: 200px;
}
#Header li{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Header li img{
    background: url('SternaLogo.png') no-repeat center;
    background-size: cover;
    margin-top: 0%;
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
  #Main{
      margin-top: 40%;
  }
}
@media only screen and (width: 540px) {
  #Main{
      margin-top: 35%;
  }
}
@media only screen and (width: 414px) {
  #Main{
      margin-top: 45%;
  }
}
@media only screen and (width: 412px) {
  #Main{
      margin-top: 55%;
  }
}
#Main button{
    margin-bottom: 5%;
}
#Main {
    display: list-item;
    text-align: center;
}
#Main button img {
  width: 97.5%;
}
/* .button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  width: 90%;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  padding: 0;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-all;
  text-overflow:clip;
  font-style: italic;
  border: 2px solid black;
}
.button-74:hover {
  background-color: #fff;
}
.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
} */
#cena{
  float: right;
  margin-right: 4%;
  margin-bottom: 4%;
  margin-top: -4%;
}
#produkt{
  float: left;
  margin-top: -4%;
  margin-left: 5%;
  margin-bottom: 4%;
}
#Main button img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: 4px outset linear-gradient(#541a0f 0, #0c0d0d 100%);
  margin-bottom: 5%;
  margin-top: 1.4%;
}
#Main #gazirani{
  text-align: center;
}
#Main #gazirani h2:first-of-type{
  margin-bottom: 5%;
  width: 100%;
  text-decoration: underline;
  font-size: 2rem;
}
#Main #negazirani h2:last-of-type{
  margin-bottom: 5%;
  width: 100%;
  text-decoration: underline;
  font-size: 2rem;
}
.button-78 {
  word-break: break-all;
  font-style: italic;
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  /* font-family: Eina01,sans-serif; */
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  /* overflow: hidden; */
  /* padding-left: 70px;
  padding-right: 70px; */
  padding: 0%;
  width: 90%;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
    width: 100%;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 30px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}
.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}
